server:
  port: 8080

spring:
  application:
    name: scb-campaign-service

  config:
    import: optional:configserver:http://localhost:8888

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include: health,info,env,refresh,busrefresh

  endpoint:
    refresh:
      enabled: true
    busrefresh:
      enabled: true


